<div class="event-calendar-view">
  <!-- Profile Section with Animation -->
  <div class="profile-wrapper" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout">
    <h1 class="flex justify-content-center">PODSUMOWANIE ROKU DLA KANAŁU NEEXcsgo</h1>
    <div class="streamer-profile grid p-6">
      <div class="col-12 flex justify-content-center">
        <img src="https://yt3.googleusercontent.com/9pOo9LdLD9jF2eCAaAxUx1QQsxQmoxpupbfD9MAntiUKEeuZrEV0CH8D2CcjDoGL4TRhabIVFQ=s160-c-k-c0x00ffffff-no-rj"
              enterClass="fadeinleft" />
      </div>
      <div class="col-12 flex justify-content-center flex-column w-full streamer-profile-info"
           pAnimateOnScroll enterClass="fadeinright"
      >
        <span class="flex justify-content-center text-xl font-bold my-2">NEEXcsgo</span>
        <div class="flex justify-content-center">
          <img [src]="PlatformEnum.INSTAGRAM | platformImgPipe"
               class="mr-2"
               (click)="onClickLinkClick('https://www.instagram.com/neex.trela')"
          />
          <img [src]="PlatformEnum.TWITCH | platformImgPipe"
               class="mr-2"
               (click)="onClickLinkClick('https://twitch.tv/neexcsgo')"
          />
          <img [src]="PlatformEnum.KICK | platformImgPipe"
               class="mr-2"
               (click)="onClickLinkClick('https://kick.com/neexcsgo')"
          />
          <img [src]="PlatformEnum.YOUTUBE | platformImgPipe"
               (click)="onClickLinkClick('https://www.youtube.com/@NEEXcsgo')"
          />
        </div>
      </div>
    </div>

    <div class="statistic-view grid my-5 mx-6"
         pAnimateOnScroll
         enterClass="fadeinup"
         >
      <div class="statistic-view-options my-2 flex justify-content-center w-full">
        <div role="tablist" aria-label="Wybór platformy"></div>
          @for(p of platformButtonsDictionaries; track p.key; let idx = $index) {
            <button
              type="button"
              pAnimateOnScroll
              enterClass="fadeinup"
              class="platform-icon-tab"
              role="tab"
              [attr.aria-selected]="selectedPlatformStatistic === p.key"
              [attr.aria-label]="(p.label | translate)"
              (click)="onPlatformStatisticSelected(p.key!)"
              [class.platform-icon-tab--active]="selectedPlatformStatistic === p.key"
            >
              <img [src]="p.key | platformImgPipe" alt="" aria-hidden="true">
              <span class="font-bold">{{ p.label | translate }}</span>
            </button>
          }
      </div>
      <div class="my-2 col-12 grid flex justify-content-center">
        @for (platformStatistic of platformStatisticDictionary; track platformStatistic.id) {
          <platform-statistic-card-component
            class="m-2 xl:col-3 md:col-3 sm:col-12 justify-content-center"
            [platformStatistic]="platformStatistic"
            [selectedPlatformStatisticColor]="selectedPlatformStatisticColor!"
            [selectedPlatformStatistic]="selectedPlatformStatistic!"
          ></platform-statistic-card-component>
        }
      </div>
    </div>
  </div>

  <!-- Calendar Section with Animation -->
  <div
      class="p-7"
       pAnimateOnScroll
       enterClass="fadein"
       leaveClass="fadeout"><h2 class="section-title"
        >
      {{'events.eventCalendar' | translate}}
    </h2>

    <div class="my-5 grid"
         pAnimateOnScroll
         enterClass="fadeinup"
         >
      @for (month of calendarMonthDictionaries; track month.id) {
        <p-button class="flex justify-content-center col-6 lg:col-1 md:col-6 sm:col-6"
                  [ngClass]="{'selected-item': month.id === selectedCalendarMonth?.id}"
                  [label]="month.labelName | translate"
                  (onClick)="onCalendarMonthClick(month)"></p-button>
      }
    </div>

    <!-- Events List with Staggered Animation -->
    <div [ngClass]="{'event-list-overflow': !this.loadingEvents}" class="grid">
      @if (this.loadingEvents) {
        <div class="spinner-view">
          <p-skeleton height="550px" borderRadius="16px" />
        </div>
      } @else {
        @for(event of events; track event.id; let idx = $index) {
          <div class="col-12 grid event-view"
               [ngStyle]="{'border-color': event.platform === PlatformEnum.TWITCH ?
                       PlatformColorEnum.TWITCH :
                       PlatformColorEnum.KICK}">
            <div class="xl:col-4 lg:col-12 md:col-12 sm:col-12">
              <img [src]="event.img"
                   pAnimateOnScroll
                   />
            </div>
            <div class="xl:col-8 lg:col-12 md:col-12 sm:col-12 flex flex-column">
              <h3 pAnimateOnScroll>
                {{event.labelName | translate}}
              </h3>
              <div class="flex align-items-center text-xl"
                   pAnimateOnScroll
                  >
                <i class="pi pi-calendar"
                   [ngStyle]="{'color': event.platform === PlatformEnum.TWITCH ?
                       PlatformColorEnum.TWITCH :
                       PlatformColorEnum.KICK}"
                ></i>
                <label class="mx-2">{{event.date | date: 'longDate'}}</label>
              </div>
              <div class="event-clips gap-4"
                   pAnimateOnScroll
                   >
                @for (clip of event.clips; track clip.id; let clipIdx = $index) {
                  <div class="event-clip grid align-items-center"
                       pAnimateOnScroll
                       enterClass="zoomin"
                       [ngStyle]="{'border-color': event.platform === PlatformEnum.TWITCH ?
                       PlatformColorEnum.TWITCH :
                       PlatformColorEnum.KICK}"
                       (click)="onClickLinkClick(clip.url)">
                    <img class="col-6" [src]="event.platform | platformImgPipe"/>
                    <i class="pi pi-link" [ngStyle]="event.platform | clipStylePipe"></i>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
